.responsive {
    width: 300px;
    height: auto;
  }
.section{
    width:500px;
    height: 100%;
    background color: red;
}
body {
    background-image: url('9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.h1 {
    font-family: "Happy Birthday Archana", Archana, Cursive;
    color: white;
    text-align: center;
  }

  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 125px;
    color: darkblue;
    
  }
.btn-holder{
    border: none;
    color: darkorange;
}